@media only screen and (max-width: 600px){
    .content_danhmuc{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 1rem;
        div{
            width: 10rem;
        }
    }
    
}