.all_products {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-around;
    text-align: center;
    padding: 0  9rem;
    margin: 0 auto;
    gap: 1rem;
    text-align: center;

    .product {
        width: 11.6rem;
        text-decoration: none;
        color: black;
        img {
            height: 10rem;
            width: auto;
        }

        p {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90%;
        }

        span {
            color: red;
          
        }
    }
    .product:hover {
        border: 0.5px solid red; /* Hiển thị viền đỏ khi hover vào */
    }
    .progress{
        background-color: #FFBDA6;
        position: relative;
        .progress-bar{
            background-color: #ED2216;
        }
        .progress-title{
            position: absolute;
            color: white;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
